#premade-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

#premade-wrapper .premade-playlist img {
    width: 50%;
    height: 50%;
    object-fit: fill;
}

#premade-wrapper .premade-playlist {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 12px;
    padding: 15px;
    max-width: 100%;
    width: 500px;
    height: 150px;  
    border-radius: 15px;
    transition: height 0.5s ease;
    background-color: #89AFA2;
}