#build-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
}

#build-wrapper #build-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#build-wrapper #build-container .build-form {
    width: 20vw;
}

#build-wrapper #temp {
    display: flex;
    width: 100vw;
}

#build-wrapper #info-container {
    border: 2px solid black;
    padding: 25px;
    width: 100vw;
}

#build-wrapper #song-container {
    border: 2px solid black;
    padding: 25px;
    flex-grow: 1;
}

#build-wrapper #build-container input {
    margin-top: 15px;
}