#playlist-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #ddd;
    margin: 20px auto;
    padding: 20px;
    width: auto;
    max-width: 80vw;
    border-radius: 8px;
    font-size: 1em;
}

#playlist-control {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}


#playlist-control * {
    border-radius: 5px;
    background-color: #948e99;
    color: white;
    padding: 1rem;
    text-decoration: none;
    transition: color 0.5s ease;
}

@media screen and (max-width: 700px) {
    #playlist-control * {
        font-size: 0.8em;
        width: auto;
        height: auto;
    }
}


#playlist-control a:hover {
    color: #2e1437;
}

#playlist-wrapper #playlist-container {
    border: 2px solid #ddd;
    width: auto;
    border-radius: 8px;
    padding: 25px;
    flex-grow: 1;
    background: #ffffff;
    max-height: 150vh; 
    min-height: 40vh;
    overflow-y: auto;
}


.delete {
    background-color: red;
    width: auto;
    height: 25px;
    margin: 5px;
    padding: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.delete:hover {
    background-color: #948e99;
}

.rename {
    background-color: #2e1437;
    width: auto;
    height: 5vh;
    margin: 5px;
    padding: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.rename:hover {
    background-color: #948e99;
}