#playlist-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #ddd;
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    max-width: 900px;
    border-radius: 8px;
    font-size: 19px;
}

#playlist-control {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

}

#playlist-control * {
    border-radius: 5px;
    background-color: #948e99;
    color: #000000;
    padding: 12px;
    text-decoration: none;
}

#playlist-wrapper #playlist-container {
    border: 2px solid #ddd;
    width: 40vw;
    border-radius: 8px;
    padding: 25px;
    flex-grow: 1;
    background: #ffffff;
    max-height: 80vh; 
    overflow-y: auto;
}

