/*
    This is the baseline styling css file for now.
*/

@import url('ttps://fonts.googleapis.com/css2?family=Archivo+Black&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=League+Spartan:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet');

main{
    background-color: #2e1437;
}
html{
    background-color: #2e1437;
}
body {
    background-color: #FFFFFF;
    font-family: "League Spartan", serif;
    color: #000000;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #948e99;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    justify-content: space-around;
    color:#e7eed0;
}

.nav-list li {
    display: inline;
    color:#e7eed0;
}

.nav-list a {
    text-decoration: none;
    border-bottom: none;
    color: #e7eed0;
    font-family: "Archivo Black", serif;
    font-size: 25px;
    color:#51425f;
    border: none;
    transition: color 0.5s ease, padding-bottom 0.5s ease;
}

.nav-list a:hover {
    color: white;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 45vw;
}

.search-bar input {
    font-size: 18px;
    padding: 5px;
    margin-right: 5px;
    width: 45vw;
}


.profile a {
    text-decoration: none;
    color:#51425f;
    font-family: sans-serif;
    font-size: 25px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

.playlist-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-info {
    background-color: #948e99;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 25vw;
    width: 25vw;
}

.main-img {
    border-radius: 25px;
    width: 15vw;
    height: 35vh;
}

.album-info {
    margin-top: 20px;
}

.main-link a {
    color: white;
    border-bottom: none;
    text-decoration: none;
    border-bottom: solid white 2px;
    border-radius: 5px;
    padding-bottom: 10px;
    transition: color 0.5s ease, padding-bottom 0.5s ease;
}

.main-link a:hover {
    color: #51425f;
    padding-bottom: 0;
}

.profile-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-div {
    background-color: #948e99;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 25vw;
    width: 25vw;
}

.playlist-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-v {
    background-color: #948e99;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 25vw;
    width: 25vw;
}

a  {
    color: #2e1437;
}
